@charset "UTF-8";

:root {
    --yellow: #fee018;
    --yellow_background: #faf7da;
    --completed_bg: #fcf8df;
    --light_text_color: #fbf7da;
    --red: #ff0000;
    --error: #d82328;
    --text_color: #665800;
    --green: #619f00;
    --green_hover: #377800;
    --link_color: #efbb17;
    --blue: #0088d2;
    --gray: #f4f4f4;
    --gray_lighter: #bebebe;
    --dark_gray: #6d6d6d;
    --golden: #d3c68c;
    --input_border: #e3dcb2;
    --semi_white: #fffef4;
    --warn_sign_color: #ff8800;

    --text_input_radius: 5px;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-weight: 400;
    font-family: ZabraProTest3;
    font-size: 23px;
    background-color: var(--yellow_background);
    color: var(--text_color);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

.__locked-scroll {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1450px;
}

button {
    cursor: pointer;
}

[class*="icon"] {
    position: relative;
}

.icon--order_2 {
    display: flex;
    align-items: center;
}

.icon--order_2::before {
    order: 2;
}

.icon-amounts {
    position: absolute;
    top: -7px;
    right: -5px;
    box-shadow: 0 0 0 4px var(--semi_white);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff6a6a;
    border-radius: 50%;
    font-size: 14px;
    padding: 3px 5px;
    z-index: 20;
}

.icon-amounts,
.icon-amounts[class*="icon"] {
    color: #fff;
}

.none {
    display: none !important;
}

.__hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    transition-delay: 0s !important;
}

.flex {
    display: flex;
}

.fw-700 {
    font-weight: 700;
}

/* <SCROLLBAR>==================================================================================== */
@media(min-width: 992px) {
    *::-webkit-scrollbar {
        width: 16px;
        border-radius: 4px;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--red);
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #b9040a;
    }

    *::-webkit-scrollbar-track {
        background-color: #000;
    }
}

/* <SCROLLBAR>==================================================================================== */

/* <UI>=========================================================================================== */
.title {
    font-weight: 500;
    line-height: 1.6;
}

h1.title {
    font-size: 33px;
}

/* cross */
.cross {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--yellow_background);
    transition-property: background;
    transition-duration: .2s;
}

.cross:hover {
    background: var(--yellow);
}

.cross span::before {
    color: #FFCC00;
    transition-property: color;
    transition-duration: .2s;
}

.cross::before {
    content: "Очистить поле?";
    position: absolute;
    z-index: 110;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 3px);
    color: #b69012;
    font-size: 21px;
    border: 2px solid var(--yellow);
    background: #fff9e0;
    padding: 10px 25px 14px 25px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .2s;
    transition-delay: 0s, .2s;
}

.cross:hover::before {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.cross:hover span::before {
    color: var(--red);
}

@media (max-width: 992px) {
    .cross::before {
        left: auto;
        right: 0;
        top: 110%;
        transform: translate(0, 3px);
    }
}

/* cross - end */

/* warning */
.warning {
    position: absolute;
    top: 110%;
    left: 0;
    border-radius: 5px;
    background: var(--red);
    padding: 15px 30px 19px 10px;
    color: #fff;
    min-width: 300px;
}

.warning__close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.warning__close span::before {
    color: var(--yellow);
    font-size: 14px;
}

.warning__text {
    font-size: 19px;
}

/* warning - end */

/* error */

.error {
    color: red;
}

/* error - end */

/* link */
.link {
    position: relative;
    text-decoration: underline dotted;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    font-weight: 500;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline dotted;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.link::before {
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    transform: translate(calc(-100% - 7px), 2px);
    font-size: 16px;
}

.link--dark {
    color: var(--dark_gray);
}

.link--dark:hover {
    color: var(--gray_lighter);
}

.link--purple {
    color: #551a8b;
}

.link--purple:hover {
    color: #be01be;
}

.link--red {
    color: var(--red);
}

.link--red:hover {
    color: #b90000;
}

.link--green {
    color: #8CAE59;
}

.link--green:hover {
    color: #577039;
}

.link--magenta {
    color: magenta;
}

.link--magenta:hover {
    color: #e101e1;
}

.link--pink {
    color: #ff2398;
}

.link--pink:hover {
    color: #e71884;
}

/* link - end */

/* button */
.button {
    cursor: pointer;
    border-radius: 5px;
    background: #d70404;
    color: #fff;
    padding: 11px 12px 17px 12px;
    font-size: 23px;
    transition-property: background;
    transition-duration: .2s;
}

.button:hover {
    background: red;
}

.button[disabled] {
    cursor: not-allowed;
    background: linear-gradient(0deg, #E6E6E7 0%, #F4F5F6 100%), #E3DCB2;
    color: var(--text_color);
}

.button--red {
    background: #FF4949;
}

.button--yellow {
    background: #FFC000;
    color: var(--text_color);
}

/* button - end */

/* apply */
.apply-button {
    color: #fff;
    background: var(--red);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 13px 5px 18px 5px;
    transition-property: background;
    transition-duration: .3s;
}

.apply-button:hover {
    background: #b40000;
}

/* apply - end */

/* <UI>=========================================================================================== */

/* <ВЕРХ СТРАНИЦЫ>================================================================================ */
.page-head {
    margin: 30px 0;
    padding: 0 30px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 23px;
}

.breadcrumbs__item:not(:last-child)::after {
    content: " /";
    margin: 0 .45rem 0 0.15rem;
    color: rgba(102, 88, 0, 0.7);
}

.breadcrumbs__link {
    color: rgba(102, 88, 0, 0.7);
    display: inline-block;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link {
    border-bottom: 1px dotted var(--text_color);
}

/* <ВЕРХ СТРАНИЦЫ>================================================================================ */

/* <FOG>========================================================================================== */
.fog {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
    background: linear-gradient(90deg, transparent 60%, var(--semi_white));
}

/* <FOG>========================================================================================== */

/* <COOKIE>======================================================================================= */
.cookie {
    display: block;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 0 1rem;
    width: 100%;
    z-index: 50;
    background-color: rgba(44, 44, 44, .8);
    color: #fff;
    text-align: center;
}

.cookie__wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    width: 1170px;
}

.cookie__wrapper p {
    margin: 16px 0;
    font-size: 20px;
}

.cookie__button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #8bc72a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s;
}

.cookie__button:hover {
    background-color: #619f00;
}

.cookie__link {
    font-size: 18px;
    transition: 0.2s;
    white-space: nowrap;
    color: #8bc72a;
    text-decoration: underline;
}

.cookie__link:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

@media (max-width: 1199px) {
    .cookie__wrapper {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .cookie {
        padding: 0 1rem 1rem 1rem;
    }

    .cookie__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* <COOKIE>======================================================================================= */

/* <INPUTS>======================================================================================= */
/* =========================== */

.double-input__wrapper {
    display: flex;
    position: relative;
    z-index: 70;
}

.double-input__item {
    flex: 0 0 50%;
}

.double-input .double-input__item:first-child .text-input__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.double-input .double-input__item:last-child .text-input__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

@media (max-width: 559px) {
    .double-input__wrapper {
        flex-wrap: wrap;
    }

    .double-input__item {
        flex: 0 0 100%;
    }

    .double-input .double-input__item:first-child .text-input__input {
        border-top-right-radius: var(--text_input_radius);
        border-bottom-left-radius: 0;
        border-bottom-width: 0;
    }

    .double-input .double-input__item:last-child .text-input__input {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--text_input_radius);
        border-left-width: 1px;
    }
}

/* =========================== */

/* =========================== */
.text-input__title {
    font-size: 19px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
}

.text-input__wrapper {
    position: relative;
}

.text-input__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
    z-index: 0;
    border: 5px solid transparent;
    background: transparent;
    transition-property: background, border;
    transition-duration: .2s;
}

.text-input.__has-value .text-input__wrapper::before {
    background: var(--completed_bg);
    border-color: #fff;
    border-radius: 5px;
}

.text-input .cross {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 51;
    width: 44px;
    border-left: 4px solid #fff;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .2s;
    transition-delay: 0s, .2s;
}

.text-input--gray .text-input__input {
    border-color: var(--gray_lighter);
}

.text-input--gray:not(.__has-value) .text-input__input {
    background-color: var(--gray);
}

.text-input--gray:not(.__has-value) .text-input__input:hover {
    background-color: #fff;
}

.text-input.__has-value .cross {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

.text-input__input {
    border: 1px solid var(--input_border);
    border-radius: var(--text_input_radius);
    transition-property: background;
    transition-duration: .2s;
    position: relative;
    background: transparent;
    z-index: 10;
    font-size: 19px;
    line-height: 51px;
    height: 51px;
    padding: 0 10px 4px 10px;
    color: #7a7a7a;
    width: 100%;
}

.__has-value .text-input__input {
    padding-right: 55px;
}

.text-input:not(.__has-value) .text-input__input:hover {
    background: #e4dab1;
}

.text-input__icon {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 13px;
    z-index: 11;
}

.__has-value .text-input__icon+input {
    padding-right: 75px;
}

.text-input.__has-value .text-input__icon {
    right: 55px;
}

.text-input__block-prefix {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 10px;
    transform: translate(0, calc(-50% - 2px));
    z-index: 20;
    color: var(--text_color);
}

.text-input__block-prefix+.text-input__input,
.text-input__block-prefix+.text-input--standard__input {
    padding-left: 35px;
}

.text-input__values {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 50;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: max-height, padding, margin, visibility;
    transition-duration: .2s;
    transition-delay: 0s, 0s, 0s, .2s;
}

.__values-shown .text-input__values {
    overflow: auto;
    visibility: visible;
    transition-delay: 0s;
}

.text-input--checkboxes .text-input__values {
    overflow: hidden;
}

.text-input__checkboxes {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

.text-input__apply {
    margin: 15px auto;
    min-width: 200px;
    padding: 7px 12px 13px 12px;
}

/* =========================== */

/* =========================== */
.input-like__input {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 250px;
}

.input-like:not(.__has-value) .input-like__input {
    padding-right: 10px;
}

.input-like__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

/* =========================== */

/* =========================== */
.date-inputs {
    display: flex;
}

.date-inputs__delimeter {
    font-size: 18px;
    position: relative;
    top: 2px;
}

.date-inputs__input {
    font-size: 18px;
    background: transparent;
    margin: 0 3px;
}

.text-input__wrapper .date-inputs__delimeter {
    top: -1px;
}

.text-input__wrapper .date-inputs__input {
    position: relative;
    top: -1px;
}

.__moz-fix .text-input__wrapper .date-inputs__delimeter,
.__moz-fix .text-input__wrapper .date-inputs__input {
    top: 0;
}

.date-inputs__input:first-child {
    margin-left: 0;
}

.date-inputs__input:last-child {
    margin-right: 0;
}

.date-inputs__input--date,
.date-inputs__input--month {
    max-width: 1.55em;
    text-align: center;
}

.date-inputs__input--year {
    max-width: 2em;
}

/* =========================== */

/* <INPUTS>======================================================================================= */

/* <RADIOBUTTONS, CHECKBOXES>===================================================================== */
/* checkbox - обычный */
.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 7px;
    background: linear-gradient(0deg, #E6E6E7 0%, #F4F5F6 100%), var(--input_border);
}

.checkbox input {
    display: none;
}

.checkbox input:checked+.checkbox__box::before {
    background: #FFDD00;
}

.checkbox__box {
    background: #fff;
    border: 2px solid var(--input_border);
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__box::before {
    content: "";
    background: transparent;
    width: 13px;
    height: 13px;
}

/* checkbox с галочкой */
.checkmark {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 15px 8px 15px;
    font-size: 19px;
}

.checkmark:hover {
    background: #ffdd00;
}

.checkmark input {
    display: none;
}

.checkmark__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    position: relative;
    z-index: 4;
}

.checkmark__box::after {
    content: url("/vsevn-my_ads/img/icons/checkmark.png");
    position: absolute;
    font-size: 18px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
}

.checkmark input:checked+.checkmark__box {
    border-color: var(--gray_lighter);
    background-color: #ffec96;
}

.checkmark input:checked+.checkmark__box::after {
    opacity: 1;
    visibility: visible;
}

/* bubble-radio */
.bubble-radios {
    --transition_dur: .3s;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
}

.bubble-radio input {
    display: none;
}

.bubble-radio {
    cursor: pointer;
}

.bubble-radio input:checked+.bubble-radio__body .bubble-radio__circle-background {
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(0, 2px);
    background: var(--text_color);
    z-index: 1;
}

.bubble-radio input:checked+.bubble-radio__body .bubble-radio__text {
    color: #fff;
    padding-left: 0;
}

.bubble-radio__body {
    position: relative;
    display: flex;
    align-items: center;
}

.bubble-radio__circle-background {
    position: absolute;
    border-radius: 1em;
    border: 2px solid var(--text_color);
    width: 1.4em;
    height: 1.4em;
    transition-property: width, height, background;
    transition-duration: var(--transition_dur);
}

.bubble-radio__text {
    padding-left: 2em;
    position: relative;
    z-index: 10;
    margin: .5em;
    transition-property: color, padding;
    transition-duration: var(--transition_dur);
}

/* анимированный radio */
.radio-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.radio-container input {
    display: none;
}

.radio-container svg {
    fill: none;
    vertical-align: middle;
    flex: 0 0 27px;
    transform: translate(0, -2px);
}

.radio-container svg circle {
    stroke-width: 2;
    stroke: #c8ccd4;
}

.radio-container svg path {
    stroke: #fd0;
}

.radio-container svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19
}

.radio-container svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57
}

.radio-container input:checked+svg path {
    transition: all .4s ease
}

.radio-container input:checked+svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: .3s
}

.radio-container input:checked+svg path.outer {
    stroke-dashoffset: 0
}

.radio-container__text {
    display: inline-block;
    margin-left: 20px;
}

/* <RADIOBUTTONS, CHECKBOXES>===================================================================== */

/* <CHECKBOXES-MODAL>============================================================================= */
.checkboxes-modal,
.checkboxes-modal.modal__window {
    padding: 20px;
    width: 940px;
    max-width: 100%;
    min-height: 350px;
    height: 100%;
}

.checkboxes-modal .modal__body {
    height: 100%;
    margin-top: 0;
}

.checkboxes-modal__container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-height: calc(100% - 195px);
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
    transition-duration: .2s;
    transition-delay: 0s, .2s;
}

.checkboxes-modal__list-container {
    flex: 0 0 425px;
    max-height: calc(100% - 37px);
}

.checkboxes-modal__list-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkboxes-modal__list-texts .text-input__title {
    margin-bottom: 0;
}

.checkboxes-modal__clear-button {
    text-transform: uppercase;
    color: var(--red);
    font-size: 19px;
    display: flex;
    opacity: 0;
    visibility: hidden;
}

.checkboxes-modal__clear-button.__shown {
    opacity: 1;
    visibility: visible;
}

.checkboxes-modal__list-item .checkmark {
    padding: 2px 10px 6px 10px;
}

.checkboxes-modal__lists {
    overflow: auto;
    max-height: calc(100% - 37px);
    height: 100%;
    border: 1px solid #e1e1e1;
}

.checkboxes-modal__sublist--head .checkboxes-modal__list-item {
    border-bottom: 1px solid #e1e1e1;
}

.checkboxes-modal__sublist--standard {
    min-height: 2rem;
}

.checkboxes-modal__subvalues {
    padding-left: 15px;
}

.checkboxes-modal__apply-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.checkboxes-modal__apply {
    min-width: 300px;
}

@media (max-width: 1069px) {

    .checkboxes-modal,
    .checkboxes-modal.modal__window {
        padding-top: 45px;
    }

    .checkboxes-modal .modal__close {
        transform: translate(0);
        right: 15px;
        top: 15px;
    }

    .checkboxes-modal .modal__close::after,
    .checkboxes-modal .modal__close::before {
        background: #000;
    }
}

@media (max-width: 989px) {
    .checkboxes-modal__list-container {
        flex: 0 0 47%;
    }
}

@media (max-width: 767px) {
    .checkboxes-modal, .checkboxes-modal.modal__window {
        height: auto;
    }

    .checkboxes-modal__container {
        flex-wrap: wrap;
    }

    .checkboxes-modal__list-container {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .checkboxes-modal__list-texts {
        margin-bottom: 5px;
    }

    .checkboxes-modal__list-container:last-child {
        margin-bottom: 0;
    }

    .checkboxes-modal__lists {
        max-height: 300px;
    }

    .checkboxes-modal__apply {
        min-width: 250px;
        margin-top: 20px;
    }

    .checkboxes-modal .modal__close {
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
    }
}

/* <CHECKBOXES-MODAL>============================================================================= */

/* <SELECT>======================================================================================= */
.select {
    --transition_dur: .2s;

    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select .placeholder {
    color: var(--gray_lighter);
}

.select__container {
    order: 2;
    position: relative;
    display: flex;
    align-items: center;
}

.select__chevron::before {
    color: var(--text_color);
    font-size: 11px;
    margin: 0 5px;
}

.select__chevron--prev {
    order: 1;
}

.select__chevron--next {
    order: 3;
}

.select__value {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.select__value::before {
    display: block;
    transform: rotate(0deg);
    position: relative;
    transition-property: transform, top;
    transition-duration: var(--transition_dur);
    font-size: 12px;
    order: 2;
    margin-left: 5px;
}

.select.__shown .select__value::before {
    transform: rotate(180deg);
    top: 1px;
}

.select__options-list {
    max-height: 0;
    visibility: hidden;
    overflow: auto;
    background: #fff;
    position: absolute;
    top: 100%;
    z-index: 50;
    transition-property: max-height, visibility;
    transition-duration: var(--transition_dur);
    transition-delay: 0s, var(--transition_dur);
}

.select.__shown .select__options-list {
    max-height: 300px;
    visibility: visible;
    transition-delay: 0s;
}

.select__option {
    cursor: pointer;
    padding: 5px 10px 8px 10px;
    display: block;
}

.select__option:hover {
    background: #fede31;
}

.select__option input {
    display: none;
}

/* <SELECT>======================================================================================= */

/* <STYLED SELECT>================================================================================ */
.select--styled .select__container {
    position: relative;
    width: 100%;
}

.select--styled .select__value {
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--input_border);
    border-radius: var(--text_input_radius);
    transition-property: background;
    transition-duration: .2s;
    position: relative;
    z-index: 10;
    font-size: 21px;
    line-height: 51px;
    height: 51px;
    padding: 0 10px 4px 10px;
    color: #7a7a7a;
}

.select--styled.__has-value .select__value {
    padding-right: 50px;
}

.select--styled.__has-value .select__value::before {
    margin-right: 5px;
}

.select--styled .select__value span {
    z-index: 5;
}

.select--styled .select__value::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--text_input_radius);
    position: absolute;
    background-color: var(--gray);
}

.select--styled.__has-value .select__value::after {
    background-color: var(--completed_bg);
    border: 4px solid #fff;
}

.select--styled.__has-value .select__value {
    background-color: transparent;
}

.select--styled .select__value::before {
    position: relative;
    top: 2px;
    z-index: 50;
    font-size: 20px;
}

.select--styled .select__value:hover {
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
}

.select--styled .select__options-list {
    width: 100%;
    font-size: 21px;
    border: 1px solid var(--input_border);
    border-top-width: 0;
    border-bottom-left-radius: var(--text_input_radius);
    border-bottom-right-radius: var(--text_input_radius);
    top: calc(100% - 2px);
}

.select--styled .select__option {
    padding: 11px 15px 14px 15px;
}

.select--styled .select__option span::before {
    font-weight: 700;
    margin-left: 5px;
}

.select--styled .select__container .cross {
    position: absolute;
    border-left: 4px solid #fff;
    width: 44px;
    right: 6px;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .2s;
    transition-delay: 0s, .2s;
}

.select--styled.__has-value .cross {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.select--styled .select__value>span::before {
    font-weight: 700;
    margin-left: 5px;
    color: var(--text_color);
}

/* <STYLED SELECT>================================================================================ */

/* <CALENDAR>===================================================================================== */
.text-input__input.calendar__preview {
    display: flex;
    align-items: center;
}

.text-input__input .calendar__preview-text {
    color: var(--gray_lighter);
}

.calendar__preview-text {
    color: var(--text_color);
    line-height: 1;
}

.__moz-fix .calendar__preview-text {
    top: 0;
}

.calendar {
    position: relative;
}

.calendar__error {
    position: relative;
    top: 5px;
}

.calendar-box {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--semi_white);
    z-index: 100;
    border: 1px solid var(--golden);
}

.calendar-box--above {
    top: auto;
    bottom: 50px;
}

.calendar-box__select-container {
    width: 100%;
    font-size: 19px;
    padding: 13px 0;
    border-bottom: 1px solid var(--golden);
}

.calendar-table {
    border-spacing: 0;
    min-width: 266px;
}

.calendar-table__weekdays .calendar-table__cell {
    cursor: auto;
    border-right-width: 0;
    border-top-width: 0;
}

.calendar-table__cell {
    cursor: pointer;
    width: 38px;
    height: 38px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    padding-bottom: 4px;
    border: 1px solid var(--golden);
    border-bottom-width: 0;
    border-left-width: 0;
    transition-property: background;
    transition-duration: .3s;
}

.calendar-table__monthdays .calendar-table__cell {
    background: var(--light_text_color);
}

.calendar-table__cell.__inactive {
    cursor: auto;
    background: transparent;
}

.calendar-table__monthdays:last-child .calendar-table__cell {
    border-bottom-width: 1px;
}

.calendar-table__monthdays .calendar-table__cell:last-child {
    border-right-width: 0;
}

.calendar-table__monthdays .calendar-table__cell:not(.__inactive):hover {
    background: #cfcfcf;
}

.calendar-table__monthdays .calendar-table__cell.__selected {
    background: #fede31;
}

.calendar-box__apply-container {
    display: flex;
}

.calendar-box__apply {
    flex: 1 1 auto;
}

/* <CALENDAR>===================================================================================== */

/* <CALENDAR-DOUBLE>============================================================================== */
.calendar-double {
    position: relative;
}

.calendar-double .error {
    font-size: 19px;
}

.calendar-double__boxes {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    min-width: 535px;
    z-index: 60;
}

.calendar-double__boxes .calendar-box__apply-container {
    flex: 0 0 100%;
    position: relative;
    bottom: 2px;
    z-index: 50;
}

.calendar-double__boxes .calendar-box {
    position: relative;
    transform: translate(0);
    top: 0;
    left: 0;
}

.calendar-double__boxes .calendar-box:first-child {
    border-right-width: 0;
}

@media (max-width: 579px) {
    .calendar-double__boxes {
        min-width: unset;
    }

    .calendar-double__boxes .calendar-box:first-child {
        border-right-width: 1px;
        border-bottom-width: 0;
    }

    .calendar-double__boxes .calendar-table__monthdays:last-child .calendar-table__cell {
        border-bottom-width: 0;
    }

    .calendar-table__cell {
        width: 45px;
        height: 45px;
    }

    .calendar-double__boxes {
        left: auto;
    }
}

/* <CALENDAR-DOUBLE>============================================================================== */