@charset "UTF-8";

:root {
    --yellow: #fee018;
    --yellow_background: #faf7da;
    --completed_bg: #fcf8df;
    --red: #ec0303;
    --error: #d82328;
    --text_color: #665800;
    --green: #619f00;
    --green_hover: #377800;
    --link_color: #efbb17;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-weight: 400;
    font-family: ZabraProTest3;
    font-size: 16px;
    background-color: var(--yellow_background);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

.__locked-scroll {
    overflow: hidden;
}