<!-- TextInput -->
<div class="text-input" data-params="prefix::Тестовый префикс">
    <div class="text-input__wrapper">
        <input class="text-input__input" type="text">
        <span class="text-input__icon icon-search"></span>
    </div>
</div>

<!-- InputsRange -->
<div class="inputs-range">
    <div class="inputs-range__wrapper">
        <div class="text-input" data-params="prefix::Цена от">
            <div class="text-input__wrapper">
                <input class="text-input__input" type="text">
            </div>
        </div>
        <div class="text-input" data-params="prefix::до">
            <div class="text-input__wrapper">
                <input class="text-input__input" type="text">
                <span class="text-input__icon icon-ruble-2"></span>
            </div>
        </div>
    </div>
</div>